body {
	background-image: linear-gradient(#fdfbfb, #ebedee);
	box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.3);
	font-family: arial;
	font-size: 15px;
	line-height: 18px;
	width: 100%;
	display: block;
	overflow: hidden;
	margin: 0px;
}
.wrapper {
	width: 1024px;
	margin: 0 auto;
	display: block;
}
a {
	color: #3399ff;
}
.headeroption {
	background: #fff;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	height: 74px;
	overflow: hidden;
	text-align: center;
}
.headeroption h2 {
	color: #000;
	font-size: 30px;
	padding-top: 2px;
	text-shadow: 0 1px 1px #fff;
}
.content {
	background: #fff;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 3px;
	margin-top: 3px;
	min-height: 425px;
	overflow: hidden;
	padding: 10px;
}

.subject {
	border-bottom: 1px solid #3399ff;
	font-size: 20px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
.subject p {
	margin: 0;
}

.insert {
	color: #06960e;
	font-weight: bold;
}
.delete {
	color: #de5a24;
	font-weight: bold;
}

.mainleft {
	border-right: 1px dotted #999;
	float: left;
	margin-right: 16px;
	width: 350px;
}
.mainright {
	float: right;
	width: 450px;
}

.tblone {
	width: 100%;
	border: 1px solid #fff;
}
.tblone td {
	padding: 5px 10px;
	text-align: center;
}

table.tblone tr:nth-child(2n + 1) {
	background: #fff;
	height: 30px;
}
table.tblone tr:nth-child(2n) {
	background: #fdf0f1;
	height: 30px;
}

input[type="text"],
input[type="number"] {
	border: 1px solid #ddd;
	margin-bottom: 5px;
	padding: 5px;
	width: 228px;
	font-size: 16px;
}
input[type="submit"] {
	cursor: pointer;
}

.footeroption {
	background: #fff;
	height: 90px;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	padding-top: 10px;
}
.footerone {
	background: #fff;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-size: 18px;
	line-height: 30px;
	margin: 0 auto;
	padding: 6px 10px;
	text-align: center;
	text-shadow: 1px 0 2px #fff;
	width: 90%;
	overflow: hidden;
}
.footerone p {
	margin: 0;
}

.navbar {
	background-color: #ffffff !important;
	box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
}

.navbar-dark .navbar-nav .nav-link {
	color: rgb(0 0 0 / 75%);
}
.navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(0 0 0 / 75%);
}

.navbar-dark .navbar-brand {
	font: bold 30px arial, sans-serif;
	background-color: #565656;
	color: transparent;
	text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
}

.navbar-dark .navbar-brand:hover {
	color: #000000;
}

.navbar.bg-dark input[type="text"],
.navbar.bg-dark input[type="password"],
.navbar.bg-dark input[type="email"],
.navbar.bg-dark input[type="number"],
.navbar.bg-dark input[type="tel"],
.navbar.bg-primary input[type="text"],
.navbar.bg-primary input[type="password"],
.navbar.bg-primary input[type="email"],
.navbar.bg-primary input[type="number"],
.navbar.bg-primary input[type="tel"] {
	color: #000000;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
